exception-with-retry==0.5.0
stateful_data_processor==2.0
dataclasses-json

# For investing api
bs4
lxml
argparse

# For candle
pandas
plotly

mock
pydantic==2.8.0
pytest
aenum
requests
python-dotenv

# For database
PyMySQL


# Technical analysis
TA-Lib
numpy

# Visualizations
matplotlib
mpl-finance
kaleido

googlesearch-python

rich
playwright

yfinance==0.2.66
